<div class="container">
	<div class="col-md-10 col-md-offset-1">	
		<h1>Admin Dashboard</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Project name</th>
					<th>Brief description</th>
					<th>User email</th>
					<th>Contact number</th>
					<th>Created at</th>
				</tr>
			</thead>
			<tbody>
				<% @projects.each do |project| %>
				<tr>
					<td><%= project.id %></td>
					<td><a href="/dashboard/show/<%=project.id %>"><%= project.project_name %></a></td>
					<td><%= project.brief_description %></td>
					<td><%= project.user.email %></td>
					<td><%= project.phone_number %></td>
					<td><%= project.created_at %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>