<div class="col-xs-offset-1">
  <%= bootstrap_form_for(@project, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :project_name, placeholder: "Required" %>
    </div>
    <div class="field"> 
      <%= f.text_field :brief_description, placeholder: "Required" %>
    </div>
    <div class="field">
      <%= f.text_area :description, size: "24x6", placeholder: "Required" %>
    </div>
    <div class="field">
      <%= f.text_field :web_link %>
    </div>
    <div class="field">
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.text_field :phone_number, placeholder: "Required" %>
    </div>
    <div class="field">
      <%= f.text_field :company_name %>
    </div>
    <div class="field">
      <%= f.text_field :team_members, placeholder: "Separate by comma if you have more than 1 team members"  %>
    </div>
    <div class="field"> 
      <%= f.text_field :social_media_link %>
    </div>
    <div class="actions col-md-3 col-md-offset-3">
      <%= f.submit %>
    </div>
  <% end %>
  <br>
</div>